.ps_back-office .parts{
    overflow: hidden;
}

.ps_back-office .row.panel.part {
    overflow: hidden;
    margin-right: 4px;
}

.ps_back-office .row.panel.part b {
    font-size: 15px;
}

.ps_back-office .row.panel.part [class^="icon-"].top {
    font-size: 35px;
    margin-right: 10px;
}

.ps_back-office .row.panel.part .icon-download-alt.top:before {
    content:"\f019" !important;
}

.icon-AdminSyncImports:before {
    content: "\f110" !important;
}