/* sync time line style */

#syncdashreport_legend {
    margin-top: 20px;
    text-align: center;
}

#syncdashreport_legend .icon-ok-sign,
#timelinereports .icon-ok-sign {
    color: #04B404;
}

#syncdashreport_legend .icon-remove ,
#timelinereports .icon-remove {
    color: #DF3A01;
}

.timeline-event {
    width: auto !important;
}